- htitle '里程碑'

- hbreadcrumb '首页', '/'
- hbreadcrumb "#{@product.name} - 里程碑"

.page-milestones
  .page-top-ops
    - if admin_logged_in?
      %a.button.new{:href=>"/products/#{@product.id}/milestones/new"} 新建里程碑

  - @milestones.each do |milestone|
    .milestone
      .title
        = link_to milestone.name, milestone
      .ops
        = link_to '打开查看', milestone, :class=>:show
        - if current_user == milestone.creator
          = link_to '编辑', [:edit, milestone], :class=>:edit
          = link_to '删除', milestone, :confirm=>'确认删除?', :method=>:delete, :class=>:delete

