- product = @milestone.product

- hbreadcrumb '首页', '/'
- hbreadcrumb "#{product.name} - 里程碑", "/products/#{product.id}/milestones"
- hbreadcrumb @milestone.name

.page-milestone-show
  .milestone-title
    里程碑 #{@milestone.name} - 用例清单

  .milestone-ops
    %a.create{:href=>"/milestones/#{@milestone.id}/usecases/new"} 增加用例

  .usecases
    = render 'usecases/parts/usecases', :usecases=>@milestone.root_usecases

  .new-report
    = link_to '创建检查报告', "/milestones/#{@milestone.id}/milestone_reports/new"
  .reports
    - @milestone.open_reports.each do |report|
      .report
        %a.title{:href=>"/milestone_reports/#{report.id}"}= report.title
        .time= jtime(report.created_at)
        .ops
          = link_to '修改', "/milestone_reports/#{report.id}/edit"
          = link_to '删除', "/milestone_reports/#{report.id}", :confirm=>'确定删除吗？', :method=>:delete, :class=>:remove