- htitle '添加新想法'

- hbreadcrumb '首页', '/'
- hbreadcrumb '想法', ideas_path
- hbreadcrumb '编辑想法', "/ideas/#{@idea.id}/edit"

.page-new-idea
  = form_for @idea do |f|
    = flash_info
    .field.need
      %label 内容
      = f.text_area :content

    .field.submit
      = jfsubmit '编辑'
      = jfcancel '取消'
