- htitle @product.name

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb '问题或建议', "/products/#{@product.id}/issues" 

.page-product-issues
  .ops
    %a.add-issue{:href=>"/products/#{@product.id}/issues/new"} 创建BUG或建议
    
  - @issues.each do |issue|
    :ruby
      creator = issue.creator
      can_edit = ( current_user == creator )

    .issue{:'data-id'=>issue.id}
      .avatar
        = avatar_link creator, :tiny
      .id= issue.id
      .data
        .meta
          .name= user_link creator
          .ops
            -if can_edit
              %a.edit-issue{:href=>'javascript:;'} 修改
              %a.delete-issue{:href=>'javascript:;'} 删除
        .text
          = issue_ct issue
          %span.time> (#{jtime issue.created_at})
        .status
          %a.comments-count{:href=>'javascript:;'} #{issue.comments.count} 评论

.page-paginate= will_paginate @issues

