- htitle @product.name

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- if action_name == 'index_closed'
  - nav_klass = 'closed'
  - hbreadcrumb '已关闭的Issue', "/products/#{@product.id}/issues/closed"
- else
  - nav_klass = 'open'
  - hbreadcrumb 'Issue', "/products/#{@product.id}/issues"


.page-product-issues
  .ops
    %a.add-issue{:href=>"/products/#{@product.id}/issues/new"} 创建Issue
  .nav{:class=>nav_klass}
    - open_count = @product.issues.with_state(Issue::STATE_OPEN).count
    - closed_count = @product.issues.with_state(Issue::STATE_CLOSED).count
    %a.open{:href=>"/products/#{@product.id}/issues"} 未关闭的Issue (#{open_count})
    %a.closed{:href=>"/products/#{@product.id}/issues/closed"} 已关闭的Issue (#{closed_count})
    
  - @issues.each do |issue|
    :ruby
      creator = issue.creator
      can_edit = ( current_user == creator )

    .issue{:'data-id'=>issue.id}
      .avatar
        = avatar_link creator, :tiny
      .id= issue.id
      .data
        .meta
          .name= user_link creator
          .ops
            -if can_edit
              %a.edit-issue{:href=>'javascript:;'} 修改
              %a.delete-issue{:href=>'javascript:;'} 删除
        .text
          = issue_ct issue
          %span.time> (#{jtime issue.created_at})

        .admin-replys
          - issue.comments.with_creator(User.find(1)).each do |comment|
            .reply
              .ravatar= avatar_link comment.creator, :mini
              .rct>
                %span>= user_link comment.creator
                %span> ：
                %span>= comment_ct comment

        .foot
          %a.comments-count{:href=>'javascript:;'} #{issue.comments.count} 评论
          %a.show{:href=>"/issues/#{issue.id}"} 查看详情
          - case issue.state
          - when Issue::STATE_OPEN
            .state{:class=>'open'} Open
          - when Issue::STATE_CLOSED
            .state{:class=>'closed'} Closed

.page-paginate= will_paginate @issues

