:ruby
  product_name = @product.name
  product_issues_url = "/products/#{@product.id}/issues"

- htitle "创建问题或建议: #{product_name}"

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb '问题或建议', "/products/#{@product.id}/issues"
- hbreadcrumb '新建问题或建议', "/products/#{@product.id}/issues/new"

.page-new-issue
  =flash_info
  =form_for [@product, @issue] do |f|
    .field.content.need
      %label 请在下面填写你的问题或建议描述
      =f.text_area :content
    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 确定
      %a.form-cancel-button{:href=>'javascript:history.go(-1);'} 取消