- htitle "Issue ##{@issue.id}"

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb '问题或建议', "/products/#{@product.id}/issues"
- hbreadcrumb "Issue ##{@issue.id}", @issue

= render 'issues/parts/show', :issue=>@issue

= juser_assigns @issue
= jcomments @issue