-htitle '我们的产品'

-if logged_in?
  - hbreadcrumb '首页', '/', :current=>true
-else
  - content_for :topbar do
    .login= link_to '我要登录啊', '/login'
  
.page-products
  - Product::KINDS.each do |kind|
    - products = Product.with_kind(kind)
    - name = Product::KINDS_NAME[kind]
    - desc = Product::KINDS_DESC[kind]

    .kind
      .kname= name
      .kdesc= desc
      .ref 
        %span 更详细的参考见：
        %a{:href=>"/products/6/wiki/产品定义-#{name}"} 产品定义-#{name}

      = render 'index/parts/index_products', :products => products