- product = @milestone.product

- hbreadcrumb '首页', '/'
- hbreadcrumb "#{product.name} - 里程碑", "/products/#{product.id}/milestones"
- hbreadcrumb @milestone.name, "/milestones/#{@milestone.id}"
- hbreadcrumb "检查报告 - #{@report.title}"

.page-milestone-report-show
  .report-title
    = @report.title
  
  .states
    %a.open{:href=>"/milestone_reports/#{@report.id}?state=#{MilestoneIssue::State::OPEN}"}
      #{@report.open_issues_count}个打开的问题
    %a.closed{:href=>"/milestone_reports/#{@report.id}?state=#{MilestoneIssue::State::CLOSED}"}
      #{@report.closed_issues_count}个关闭的问题
    %a.pause{:href=>"/milestone_reports/#{@report.id}?state=#{MilestoneIssue::State::PAUSE}"}
      #{@report.pause_issues_count}个暂缓的问题

  .usecases
    = render 'milestone_reports/parts/usecases', :usecases=>@milestone.root_usecases, :report=>@report
