- htitle "#{@user.name} - 个人页"

- hbreadcrumb '首页', '/'
- hbreadcrumb @user.name, "/users/#{@user.id}"



.page-user-gists
  - if !@gists.blank?
    - @gists.each do |gist|
      .gist
        .head
          .id= link_to "gist: #{gist['id']}", gist['html_url'], :target => "_blank"
          .description= gist['description']
          .time= jtime(Time.parse(gist['updated_at']))

        .content
          :ruby
            gist_info = GithubApiMethods.get_single_gist(gist['id'])
            keys = gist_info['files'].keys

          = gist_info['files'][keys[0]]['content'][0..300]

