-htitle "#{@user.name} - 个人页"

-hbreadcrumb '首页', '/'
-hbreadcrumb @user.name, "/users/#{@user.id}"

:ruby
  assigned_stories = @user.assigned_stories

.page-links
  = link_to "#{@user.name}创建的Issue", "/users/#{@user.id}/issues"
  = link_to "分配给#{@user.name}的Issue", "/users/#{@user.id}/assigned_issues"
  = link_to "#{@user.name}的想法", "/users/#{@user.id}/ideas"

.page-user-show
  .head
    .avatar=avatar @user, :medium
    .meta
      .name=@user.name
    - Story::STATUSES.each do |status|
      .status{:class=>status.downcase}
        .name= status
        .desc= status_to_str(status)

  .stories
    - Product.all.each do |product|
      :ruby
        product_stories = assigned_stories.of_product(product)

      - if product_stories.count > 0
        .product
          .meta
            .name= product.name
          - Story::STATUSES.each do |status|
            .status
              - stories = product_stories.with_status(status)
              - if stories.count > 0
                - # y = 80 - 40 / x
                - # x = 1, y = 40
                - # x -> ∞, y = 80
                :ruby
                  # x = [stories.count, 101].min 
                  # w = 80 - 40 / stories.count
                  w = 50
                  style = "width:#{w}px;height:#{w}px;line-height:#{w}px;"
                  style += "margin:#{58 - w/2}px"

                .count{:class=>status.downcase, :style=>style}= stories.count