:ruby
  stream = @stream
  product = stream.product
  
  title = stream.title
  page_title = "序列: #{title}"

  product_url = "/products/#{product.id}"

-htitle page_title

.page-title=page_title

.page-go-back=link_to '返回产品页', product_url

.page-stream-show
  .stories
    -@stories.each do |story|
      :ruby
        story_url = "/stories/#{story.id}"
        tips = story.tips
        estimate = story.time_estimate
        
      .story
        .story-id STORY ##{story.id}
        .estimate="#{estimate}H"
        .how
          .t HOW TO DEMO
          .ct=story.how_to_demo
        -if !tips.blank?
          .tips
            .t TIPS
            .ct=story.tips
        .status
          .t STATUS
          .st=story.status
        .ops
          .t OPS
          .os
            %a.show{:href=>story_url} 查看详情
		
