= form_for MilestoneIssue.new, :url => {:action => 'create_issue'} do |f|
  = flash_info
  .field.need
    = f.text_area :content, :style => "width: 350px; height: 60px;"
    = f.hidden_field :usecase_id, :value => usecase_id
    = f.hidden_field :check_report_id, :value => params[:id]

  .field.state
    %label 状态
    = f.select :state, MilestoneIssue::STATES

  .field.submit
    = jfsubmit '确定'
