:ruby
  milestone = report.milestone

- usecases.each do |usecase|
  :ruby
    state = params[:state] || 'OPEN'
    issues = usecase.issues.with_state(state).of_report(report)

    name_klass = issues.blank? ? 'no-issue' : ''

  .usecase{:data=>{:id=>usecase.id}}
    .meta
      .id= usecase.id
      .name{:class=>name_klass}= usecase.content

      %a.new-issue{:href=>'javascript:;'} 添加问题
      .new-issue-form{:style=>'display:none;'}
        = render 'milestone_issues/parts/new_issue', :usecase=>usecase

    .issues
      - issues.each do |issue|
        :ruby
          creator = issue.creator
          can_edit = admin_logged_in? || creator == current_user

          data = {:id => issue.id}

        .issue{:data=>data}
          .data
            .creator-avatar= avatar_link creator, :mini
            .content= issue.content
            .ops
              - if admin_logged_in?
                = link_to '分配执行者', "/milestone_issues/#{issue.id}/assign_users"
              
              - if current_user.received_milestone_issue?(issue)
                = "已经领取"
              - else
                = link_to '领取', "/milestone_issues/#{issue.id}/receive"

              = link_to '编辑', 'javascript:;', :class=>'edit-issue'
              = link_to '删除', issue, :class=>'delete-issue', :confirm=>'确定要删除这个问题吗?', :method=>:delete
          .form{:style=>'display:none;'}
            = render 'milestone_issues/parts/edit_issue', :issue=>issue
          = render 'milestone_issues/aj/show_state', :milestone_issue=>issue

    .children
      = render 'milestone_reports/parts/usecases', :usecases=>usecase.sub_usecases, :report=>report