.page-title #{@product.name} WIKI - 修改词条 - #{@wiki_page.title}

- htitle "#{@product.name} WIKI - 编辑词条"

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb 'WIKI', "/products/#{@product.id}/wiki"
- hbreadcrumb '编辑词条', "/products/#{@product.id}/wiki/#{@wiki_page.title}/edit"

.page-wiki-page
  = flash_info
  = form_for @wiki_page, :url => "/products/#{@product.id}/wiki/#{@wiki_page.title}", :method => 'put' do |f|
    .form-url-preview{:'data-url'=>"/products/#{@product.id}/wiki_preview"}

    .field
      = f.hidden_field :product_id, :value => @wiki_page.product_id
      
    .field.title
      %label.need 页面标题
      = f.text_field :title

    .field.content
      %label.need 内容
      = f.text_area :content
      
    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 确定
      %a.form-preview.form-button{:href=>'javascript:;'} 预览
      %a.form-cancel-button{:href=>"javascript:history.go(-1);"} 取消

    .preview_result