- htitle "#{@product.name} WIKI - 词条段落编辑 - #{@wiki_page.title}"

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb 'WIKI', "/products/#{@product.id}/wiki"
- hbreadcrumb '段落编辑', "/products/#{@product.id}/wiki/#{@wiki_page.title}/edit_section?section=#{params[:section]}"

.page-edit-wiki-page
  = flash_info
  = form_for @wiki_page, :url => "/products/#{@wiki_page.product_id}/wiki/#{@wiki_page.title}/update_section?section=#{params[:section]}", :method => 'put' do |f|
    .field
      = f.hidden_field :product_id, :value => @wiki_page.product_id
      
    .field.content
      %label.need 内容
      %textarea{:name=>'content'} #{@content}
      
    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 确定
      %a.form-cancel-button{:href=>"javascript:history.go(-1);"} 取消