.page-title 修改词条 - #{@wiki_page.title}
  
.page-edit-wiki-page
  = flash.now[:error]
  = form_for @wiki_page, :url => "/products/#{@wiki_page.product_id}/wiki/#{@wiki_page.title}", :method => 'put' do |f|
    .field
      = f.hidden_field :product_id, :value=>@wiki_page.product_id
      
    .field
      %label.need 内容
      %textarea{:name=>'wiki_page[content]'} #{@wiki_page.content}
      
    .field
      %a.form-submit-button{:href=>'javascript:;'} 确定
      %a.form-cancel{:href=>"/products/#{@wiki_page.product_id}/wiki"} 取消