.p
  = render 'wiki/parts/nav'

- @history.each do |version|
  %p
    = version.id
    
    = version.user.name
    
    = version.action
    
    = version.audited_changes

    = version.created_at
    
  %p
    = link_to '回滚到该版本', "/wiki/rollback/#{version.id}", :confirm => '是否确定回滚所有历史记录'
