=render 'products/parts/product_nav', :product=>@product, :current=>:wiki

.page-wiki-pages
  = render 'wiki/parts/nav'
  - @wiki_pages.each do |wiki_page|
    %p
      = link_to wiki_page.title, "/products/#{wiki_page.product_id}/wiki/#{wiki_page.title}"
      = link_to '查看版本记录', "/products/#{wiki_page.product_id}/wiki/#{wiki_page.title}/versions"
      = link_to '编辑', "/products/#{wiki_page.product_id}/wiki/#{wiki_page.title}/edit"
      = link_to '删除', "/products/#{wiki_page.product_id}/wiki/#{wiki_page.title}", :method => :delete, :confirm => '是否确定删除'
