=render 'products/parts/product_nav', :product=>@product, :current=>:wiki

.page-title #{@product.name} - WIKI

=render 'wiki/parts/search', :product=>@product

.page-wiki-pages
  .ops
    %a.new{:href=>"/products/#{@product.id}/wiki_new"} 创建新词条
    %a.orphan{:href=>"/products/#{@product.id}/wiki_orphan"} 查看孤立词条

    -if current_user.has_evernote_auth?
      .evernote-connected 已经连接到evernote
      %a.import-evernote{:href=>"/products/#{@product.id}/wiki_evernote_import"} 从evernote导入数据
    -else
      %a.connect-evernote{:href=>"/products/#{@product.id}/wiki_evernote_connect"} 连接Evernote

  - @wiki_pages.each do |wiki_page|
    :ruby
      product_id = wiki_page.product_id
      url_prefix = "/products/#{product_id}/wiki/#{wiki_page.title}"

    .wiki-page
      = link_to wiki_page.title, "#{url_prefix}", :class=>'new'
      = link_to '查看修改历史', "#{url_prefix}/versions", :class=>'versions'
      = link_to '编辑', "#{url_prefix}/edit", :class=>'edit'
      = link_to '删除', "#{url_prefix}", :method => :delete, :confirm => '是否确定删除'
