.page-title #{@product.name} - WIKI


=render 'products/parts/product_nav', :product=>@product, :current=>:wiki

.page-wiki-pages
  .ops
    %a.new{:href=>"/products/#{@product.id}/wiki/new"} 创建新页面

  - @wiki_pages.each do |wiki_page|
    :ruby
      link = "/products/#{wiki_page.product_id}/wiki_page/#{wiki_page.title}"
      title = wiki_page.title

      versions_link = "/wiki/#{wiki_page.id}/versions"
      edit_link = "/wiki/#{wiki_page.id}/edit"

    .wiki-page
      %a.page-link{:href=>link}=title
      %a.versions{:href=>versions_link} 查看版本记录
      %a.edit{:href=>versions_link} 编辑
      = link_to '删除', wiki_path(wiki_page), :method => :delete, :confirm => '是否确定删除', :class=>'delete'
