- htitle "#{@product.name} WIKI - 创建新词条"

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb 'WIKI', "/products/#{@product.id}/wiki"
- hbreadcrumb '创建新词条', "/products/#{@product.id}/wiki_new"

.page-new-wiki-page
  = flash_info
  = form_for @wiki_page, :url=>"/products/#{@product.id}/wiki" do |f|
    .form-url-preview{:'data-url'=>"/products/#{@product.id}/wiki_preview"}
    
    .field.title
      %label.need 页面标题
      = f.text_field :title
      
    .field.content
      %label.need 内容
      = f.text_area :content
      
    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 保存
      %a.form-preview.form-button{:href=>'javascript:;'} 预览
      %a.form-cancel-button{:href=>"javascript:history.go(-1);"} 取消

    .preview_result
