.wiki-page-title
  %span= @title

.wiki-page-content= @content

.recommander-wiki-pages
  - @recommander_wiki_pages.each do |wiki_page|
    :ruby
      product_id = wiki_page.product_id
      path = "/products/#{product_id}/wiki/#{wiki_page.title}"

      title = wiki_page.excerpts.title.html_safe
      ct = wiki_page.excerpts.content.html_safe

    .wiki-page
      .title= link_to title, path
      .ct= ct

