- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb 'WIKI', "/products/#{@product.id}/wiki"
- hbreadcrumb '搜索结果', "#"

- content_for :topbar do
  = jsearchbar "/products/#{@product.id}/wiki_search", :placeholder => '搜索WIKI', :default=>params[:query]

.page-wiki-search-results
  .count 
    找到 
    %span.n #{@search_result.total_count} 
    条结果，耗时
    %span.t #{@search_result.query_time}
    秒

  - @search_result.each do |wiki_page|
    :ruby
      product_id = wiki_page.product_id
      path = "/products/#{product_id}/wiki/#{wiki_page.title}"

      title = wiki_page.excerpts.title.html_safe
      ct = wiki_page.excerpts.content.html_safe

    .wiki-page
      .title=link_to title, path
      .ct=ct

  .paginate=will_paginate @search_result