-unless @wiki_page.nil?
  .page-title WIKI - #{@wiki_page.title}
 
.page-wiki-page
  - if @wiki_page.blank?
    .wiki-page-title=params[:title]
    .wiki-page-content 还没有内容

  - else
    :ruby
      content = @wiki_page.formatted_content_for_show

      url_prefix = "/products/#{@wiki_page.product_id}/wiki/#{@wiki_page.title}"

    .wiki-page-title
      %span=@wiki_page.title
      .ops
        %a.edit{:href=>"#{url_prefix}/edit"} 编辑
        %a.versions{:href=>"#{url_prefix}/versions"} 查看修改历史
        %a.refs{:href=>"#{url_prefix}/refs"} 查看引用关系

    .wiki-page-content=content

