.page-title #{@wiki_page.title} 版本记录

.page-wiki-page-versions
  - @versions.each do |version|
    .version
      %span.id= version.id
      %span.action= version.action
      %span.changes= version.audited_changes
      %span.time= version.created_at
      
      .ops
        = link_to '回滚到该版本', "/products/#{@wiki_page.product_id}/wiki/#{@wiki_page.title}/rollback/#{version.id}", :confirm => '是否确定回滚所有历史记录'
