.page-title #{@product.name} - WIKI - 从 Evernote 导入数据

.page-evernote-notebook-list
  %form{:action => "/products/#{@product.id}/wiki_evernote_doimport", :method => "post", :name => "saveform"}
    .desc 目前你在 evernote 的笔记本列表:
    .notebooks
      - @confirmed_notebooks.each do |notebook|
        :ruby
          dump_notebook = Marshal.dump(notebook)
        - if EvernoteData.has_title_existed?(params[:product_id], notebook[:title])
          .notebook
            %span.name
              忽略 
              %input{:name => "override_list[#{notebook[:title]}]", :type => "radio", :value => "false"}/
              覆盖 
              %input{:name => "override_list[#{notebook[:title]}]", :type => "radio", :value => "true"}/
              =notebook[:title]
              
              %textarea{:name => "override_notebooks[#{notebook[:title]}]", :style => "display:none;"} #{notebook[:content]}
        - else
          %input{:type=>'hidden', :name=>"not_repeat_notebooks[#{notebook[:title]}]", :value=>"#{notebook[:content]}"}


    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 确认导入
      %a.form-cancel{:href=>"/products/#{@product.id}/wiki"} 取消