.page-title #{@product.name} - WIKI - 从 Evernote 导入数据

.page-evernote-notebook-list
  %form{:action => "/products/#{@product.id}/wiki_evernote_confirmimport", :method=>'post'}

    .desc 目前你在 evernote 的笔记本列表:
    .all-notebook
      .checkbox
        %input{:type=>'checkbox', :name=>'import_all_notebooks', :value=>'all'}
      %span.name 导入全部笔记本
    .notebooks
      - @notebooks.each do |notebook|
        .notebook
          .checkbox
            %input{:type=>'checkbox', :name=>'notebook_guids[]', :value=>notebook.guid}
          %span.name=notebook.name
          %span.guid guid:#{notebook.guid}

    .desc 目前你在 evernote 的 TAG 列表:
    .all-tag
      .checkbox
        %input{:type=>'checkbox', :name=>'import_all_tags',  :value=>'all'}
      %span.name 导入全部TAG
    .tags
      - @tags.each do |tag|
        .tag
          .checkbox
            %input{:type=>'checkbox', :name=>'tag_guids[]', :value=>tag.guid}
          %span.name=tag.name
          %span.guid guid:#{tag.guid}

    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 下一步
      %a.form-cancel{:href=>"/products/#{@product.id}/wiki"} 取消