-htitle "修改故事"

- hbreadcrumb '首页', '/'
- hbreadcrumb @story.product.name, "/products/#{@story.product.id}"
- hbreadcrumb "修改故事 ##{@story.id}", "/stories/#{@story.id}/edit"

.page-edit-story
  = flash_info
  = form_for @story, :html => { :multipart => true, :method => 'put' } do |f|
    .field.how-to-demo.need
      %label 如何演示？(HOW TO DEMO)
      =f.text_area :how_to_demo
    .field.tips.need
      %label 补充说明和提示(TIPS)
      =f.text_area :tips
    .field.time-estimate
      %label 时间预估(TIME ESTIMATE)
      =f.select :time_estimate, [4, 8, 16, 24, 32, 40, 100]

    .field.github
      %label Github
      =f.select :github_project_id, options_for_select(@story.product.github_projects.collect {|github| [github.url, github.id]}, @story.github_project_id)


    .field.images
      - if !@story.model_attaches.blank?
        - @story.model_attaches.each do |attach|
          = image_tag attach.image.url(:normal)
          = link_to "删除", "/model_attaches/#{attach.id}", :method => :delete

    .field.items
      .item-head
        .f.name 图片
      .item-list
        .item
          .f.name
            %input{:type=>'file', :name=>'story[model_attaches_attributes][][image]'}
          
          .f.ops
            %a.delete-story-attach{:href=>'javascript:;'} 减少一项
            
      %a.add-story-attach{:href=>'javascript:;'} 增加一项


    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 确定
      %a.form-button.save-draft{:href=>'javascript:;'} 保存草稿
      %a.form-cancel-button{:href=>'javascript:history.go(-1);'} 取消

    .draft-status-notice

    /   %a.form-button.save-draft{:href=>'javascript:;'} 保存草稿
    /   .draft-status-notice

    / .field.draft.hide
    /   %input{:name=>:draft_temp_id, :type=>'hidden', :value=>params[:draft_temp_id]}