- content_for :javascript do
  :javascript
    var auto_save = self.setInterval("save_as_draft()", 30000);

    function save_as_draft() {
      var temp_id = $('#temp_id').val();
      var how_to_demo = $('#story_how_to_demo').val();
      var tips = $('#story_tips').val();
      var product_id = $('#product_id').val();

      if (temp_id != '') {

        $.ajax({
          type: 'PUT',
          url: "/stories/update_new_draft",
          data: {how_to_demo: how_to_demo, tips: tips, temp_id: temp_id, product_id: product_id},
          dataType: "html"
        }).done(function ( data ) {
          var now = new Date();
          $('#save_notice').html("草稿保存于 " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds());
        });

      } else {

        $.ajax({
          type: 'POST',
          url: "/stories/create_new_draft",
          data: {how_to_demo: how_to_demo, tips: tips, product_id: product_id},
          dataType: "html"
        }).done(function ( data ) {
          $('#temp_id').val(data);

          var now = new Date();
          $('#save_notice').html("草稿保存于 " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds());
        });

      }
      
    }



:ruby
  product_name = @product.name
  streams = @product.streams
  
  product_show_url = "/products/#{@product.id}"

-htitle "创建故事 in #{product_name}"

.page-title="创建故事 in #{product_name}"

%input#temp_id{:name => "temp_id", :type => "hidden"}/
%input#product_id{:name => "product_id", :type => "hidden", :value => "#{@product.id}"}/

%input{:name => "save_draft_btn", :value => "保存草稿", :type => "button", :onclick => "save_as_draft();"}/

%div{:id => "save_notice"}

.page-new-story
  -if streams.blank?
    目前该产品下还没有任何故事序列，不可创建故事。
    =link_to '返回', product_show_url
  -else
    =flash_info
    =form_for @story,:url=>"/products/#{@product.id}/stories" do |f|
      .field.how-to-demo
        %label 如何演示？(HOW TO DEMO)
        =f.text_area :how_to_demo
      .field.tips
        %label 补充说明和提示(TIPS)
        =f.text_area :tips
      .field.time-estimate
        %label 时间预估(TIME ESTIMATE)
        =f.select :time_estimate, [4, 8, 16, 24, 32, 40, 100]
      .field.stream
        %label 分配到故事序列
        .stream-selector
          -@product.streams.each do |stream|
            .stream
              .cb=check_box_tag('story[stream_story_links_attributes][][stream_id]', stream.id)
              .t=stream.title
      .field.submit
        %a.form-submit-button{:href=>'javascript:;'} 确定
        %a.form-cancel{:href=>product_show_url} 取消