- content_for :javascript do
  :javascript
    var auto_save = self.setInterval("save_as_draft()", 30000);

    jQuery(document).ready(function() {
      get_draft();
    });


    function get_draft() {
      var temp_id = jQuery('#temp_id').val();

      if (temp_id != '') {
        jQuery.ajax({
          type: 'GET',
          url: "/stories/get_draft",
          data: {temp_id: temp_id},
          dataType: "json"
        }).done(function ( data ) {
          if (data != "" || data != null) {
            jQuery('#story_how_to_demo').val(data.how_to_demo);
            jQuery('#story_tips').val(data.tips);
          }
          
        });
      }
      
    }

    function save_as_draft() {
      var temp_id = jQuery('#temp_id').val();
      var how_to_demo = jQuery('#story_how_to_demo').val();
      var tips = jQuery('#story_tips').val();
      var product_id = jQuery('#product_id').val();

      if (temp_id != '') {
        var params_data = {how_to_demo: how_to_demo, tips: tips, temp_id: temp_id, product_id: product_id};
      } else {
        var params_data = {how_to_demo: how_to_demo, tips: tips, product_id: product_id};
      }

      $.ajax({
        type: 'POST',
        url: "/stories/save_new_draft",
        data: params_data,
        dataType: "html"
      }).done(function ( data ) {
        jQuery('#temp_id').val(data);

        var now = new Date();
        jQuery('#save_notice').html("草稿保存于 " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds());
      });

    }



:ruby
  product_name = @product.name
  streams = @product.streams
  
  product_show_url = "/products/#{@product.id}"

-htitle "创建故事 in #{product_name}"

.page-title="创建故事 in #{product_name}"

%input#temp_id{:name => "temp_id", :type => "hidden", :value => "#{params[:temp_id]}"}/
%input#product_id{:name => "product_id", :type => "hidden", :value => "#{@product.id}"}/

%input{:name => "save_draft_btn", :value => "保存草稿", :type => "button", :onclick => "save_as_draft();"}/

%div{:id => "save_notice"}

.page-new-story
  -if streams.blank?
    目前该产品下还没有任何故事序列，不可创建故事。
    =link_to '返回', product_show_url
  -else
    =flash_info
    =form_for @story,:url=>"/products/#{@product.id}/stories" do |f|
      .field.how-to-demo
        %label 如何演示？(HOW TO DEMO)
        =f.text_area :how_to_demo
      .field.tips
        %label 补充说明和提示(TIPS)
        =f.text_area :tips
      .field.time-estimate
        %label 时间预估(TIME ESTIMATE)
        =f.select :time_estimate, [4, 8, 16, 24, 32, 40, 100]
      .field.stream
        %label 分配到故事序列
        .stream-selector
          -@product.streams.each do |stream|
            .stream
              .cb=check_box_tag('story[stream_story_links_attributes][][stream_id]', stream.id)
              .t=stream.title
      .field.submit
        %a.form-submit-button{:href=>'javascript:;'} 确定
        %a.form-cancel{:href=>product_show_url} 取消