:ruby
  product_name = @product.name
  streams = @product.streams  
  product_show_url = "/products/#{@product.id}"

- htitle "创建故事 in #{product_name}"

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb '新建故事', "/products/#{@product.id}/stories/new"

.page-new-story
  -if streams.blank?
    目前该产品下还没有任何故事序列，不可创建故事。
    = link_to '返回', product_show_url
  -else
    = flash_info
    = form_for @story, :url=>"/products/#{@product.id}/stories" do |f|
      = f.hidden_field :source_idea_id, :value => params[:source_idea_id]

      .field.how-to-demo.need
        %label 如何演示？(HOW TO DEMO)
        = f.text_area :how_to_demo
      .field.tips.need
        %label 补充说明和提示(TIPS)
        = f.text_area :tips
      .field.time-estimate
        %label 时间预估(TIME ESTIMATE)
        = f.select :time_estimate, [4, 8, 16, 24, 32, 40, 100]
      .field.stream
        %label 分配到故事序列
        .stream-selector
          -@product.streams.each do |stream|
            .stream
              = jcheckbox 'story[stream_story_links_attributes][][stream_id]', stream.id, false, stream.title

      .field.github
        %label Github
        =f.select :github_project_id, options_for_select(@product.github_projects.map {|github| [github.url, github.id]})


      .field.items
      .item-head
        .f.name 图片
      .item-list
        .item
          .f.name
            %input{:type=>'file', :name=>'issue[model_attaches_attributes][][image]'}
          
          .f.ops
            %a.delete-issue-attach{:href=>'javascript:;'} 减少一项
            
      %a.add-issue-attach{:href=>'javascript:;'} 增加一项


      .field.submit
        %a.form-submit-button{:href=>'javascript:;'} 确定
        %a.form-cancel-button{:href=>'javascript:history.go(-1);'} 取消

        %a.form-button.save-draft{:href=>'javascript:;'} 保存草稿
        .draft-status-notice

      .field.draft.hide
        %input{:name=>:draft_temp_id, :type=>'hidden', :value=>params[:draft_temp_id]}
        %input{:name=>:product_id, :type=>'hidden', :value=>@product.id}