- htitle "搜索我的任务"

- hbreadcrumb '首页', '/'
- hbreadcrumb '我的任务', '/mine'
- hbreadcrumb '搜索结果', "#"

-content_for :topbar do
  = jsearchbar '/my_stories_search', :placeholder=>'搜索我的任务'

.page-wiki-search-results
  - if @assigned.blank?
    .count
      找到
      %span.n 0 
      条结果
  - else
    .count 
      找到 
      %span.n #{@assigned.length} 
      条结果


    - @assigned.each do |assign|
      :ruby
        path = "/stories/#{assign.story.id}"

        htd = assign.story.how_to_demo.gsub(@query, "<span class='match'>#{@query}</span>").html_safe
        tips = assign.story.tips.gsub(@query, "<span class='match'>#{@query}</span>").html_safe

      .wiki-page
        .ct=link_to htd, path
        .ct=tips
