:ruby
  story = @story
  page_title = "故事: #{truncate_u story.how_to_demo, 10}"
  product = story.product
  product_url = "/products/#{product.id}"
  
  streams = story.streams
  
  members = story.users

-htitle page_title

.page-title
  %span=page_title
  %a.go-back{:href=>product_url} 回产品页

.page-story-show
  -if admin_logged_in?
    .admin-ops
      .t ADMIN OPs
      .op=link_to 'ADMIN:修改',"/stories/#{@story.id}/edit"
      .op=link_to 'ADMIN:分配序列',"/stories/#{@story.id}/assign_streams"
      .op=link_to 'ADMIN:指派成员',"/stories/#{@story.id}/assign_users"
      .op=link_to '历史记录', "/stories/#{@story.id}/versions"
  
  .belongs-to
    .product=link_to product.name, product_url
    .streams
      -streams.each do |stream|
        .stream=link_to stream.title, "/streams/#{stream.id}"
        
  .how-to-demo
    .t HOW TO DEMO - 如何演示
    .ct=format_ct story, :how_to_demo
  
  -if !story.tips.blank?
    .tips
      .t TIPs - 提示和备注
      .ct=format_ct story, :tips
  
  .assigned-members
    .t 指派给
    .members
      -members.each do |member|
        .member
          .avatar
            =link_to "/members/#{member.id}", :title=>member.name do
              =avatar member
    -if members.blank?
      .no-member 尚未指派给任何人
    
  .status
    .t 故事状态
    .st=status_label story
    -if admin_logged_in?
      .other-st
        .tt ADMIN:切换到…
        -(Story::STATUSES - [story.status]).each do |status|
          .toggle-st=link_to status,"/stories/#{@story.id}/change_status?status=#{status}",:method=>:put

    
-@comments.each do |comment|
  -if comment.reply_comment_id.blank?
    %div
      %span=comment.creator.name
      %span ：
      %span=comment.content
      %span=link_to "回复","/comments/#{comment.id}/reply"
  -else
    %div  
      %span  #{comment.creator.name} 回复 #{comment.reply_user.name} : #{comment.content}
      %span=link_to "回复","/comments/#{comment.id}/reply"
    
  
=flash[:error]
=form_for @story.comments.build, :url=>"/stories/#{@story.id}/comments" do |f|
  %label 内容
  %div
    =f.text_area :content
  %div
    =f.submit "评论"

		
