.stories
  -stories.each do |story|
    :ruby
      story_url = "/stories/#{story.id}"
      story_edit_url = "/stories/#{story.id}/edit"
      tips = story.tips
      estimate = story.time_estimate
      members = story.users
      
    .story
      .meta
        .story-id STORY ##{story.id}
        .status
          .estimate="#{estimate}H"
          .st=status_label story
        .members
          -members.each do |member|
            .avatar
              =link_to "/members/#{member.id}", :title=>member.name do
                =avatar member, :mini
        .ops
          .os
            %a.show{:href=>story_url} 查看详情
            -if admin_logged_in?
              %a.edit{:href=>story_edit_url} ADMIN:修改
      .how
        .ct=story.how_to_demo