- htitle "Http Api - 创建新Api"

- hbreadcrumb '首页', '/'
- hbreadcrumb "Http Api列表", "/http_apis/designer"


- content_for :javascript do
  :javascript
    // 删除选项
    jQuery('.page-http-api-form form .item-list .item a.delete').live('click', function(){
      jQuery(this).closest('.item').remove();
    });
    
    // 增加选项
    jQuery('.page-http-api-form form .add-new-item').click(function(){
      var item_elm = jQuery('<div class="item"></div>')
      .append(jQuery('<input type="text" name="http_api[http_api_params_attributes][][name]" />'))
      .append(jQuery('<select name="http_api[http_api_params_attributes][][need]"><option value="1">必须</option><option value="0">可选</option></select>'))
      .append(jQuery('<input type="text" name="http_api[http_api_params_attributes][][desc]" />'))
      .append(jQuery('<a class="delete" href="javascript:;">删除</a>'))
      .appendTo(jQuery(this).closest('.field').find('.item-list'));
    });


=render 'http_apis/parts/navigation'


.page-http-api-form
  = flash_info
  = form_for @http_api do |f|

    .field.title
      %label.need 标题
      = f.text_field :title
    
    .field.type
      %label.need 类型
      = f.select(:request_type, options_for_select([['GET', HttpApi::RequestType::GET], ['POST', HttpApi::RequestType::POST], ['PUT', HttpApi::RequestType::PUT], ['DELETE', HttpApi::RequestType::DELETE]], :selected => f.object.request_type))
      
    .field.url
      %label.need 链接
      = f.text_field :url


    .field.items
      %label.need 参数

      .item-list
        - @http_api.http_api_params.each do |http_api_param|
        
          .item
            %input{:type=>'text', :name=>'http_api[http_api_params_attributes][][name]', :value => http_api_param.name}

            %select{:name => "http_api[http_api_params_attributes][][need]"}
              %option{:value => "1"} 必须
              - unless http_api_param.need
                %option{:value => "0", :selected => 'selected'} 可选
              - else
                %option{:value => "0"} 可选

            %input{:type=>'text', :name=>'http_api[http_api_params_attributes][][desc]', :value => http_api_param.desc}

            %a.delete{:href=>'javascript:;'} 删除

            
      %a.add-new-item{:href=>'javascript:;'} 增加一项


    .field.logic
      %label.need 逻辑
      = f.text_area :logic
      
    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 保存
      %a.form-cancel-button{:href=>"javascript:history.go(-1);"} 取消
