- hbreadcrumb '首页', '/'
- hbreadcrumb 'Http API', '/http_apis'
- hbreadcrumb '修改 API'

:ruby
  type_select = options_for_select [
    ['GET', HttpApi::RequestType::GET], 
    ['POST', HttpApi::RequestType::POST], 
    ['PUT', HttpApi::RequestType::PUT], 
    ['DELETE', HttpApi::RequestType::DELETE]
  ]


.page-http-api-form
  = flash_info
  = form_for @http_api do |f|
    .field.title.need
      %label 标题
      = f.text_field :title
    
    .field.type
      %label 请求类型
      = f.select(:request_type, type_select)
      
    .field.url.need
      %label URL
      .url
        %span.dash /
        %span= f.text_field :url


    .field.items.need
      .item-head
        .f.name 参数名
        .f.need 是否必须
        .f.desc 参数注释
      .item-list
        :ruby
          params = @http_api.http_api_params
          params = [HttpApiParam.new] if params.blank?

        - params.each do |http_api_param|
          .item
            .f.name
              %input{:type=>'text', :name=>'http_api[http_api_params_attributes][][name]', :value=>http_api_param.name}
            .f.need
              %select{:name=>'http_api[http_api_params_attributes][][need]'}
                %option{:value=>1, :selected=>http_api_param.need} 必须
                %option{:value=>0, :selected=>!http_api_param.need} 可选
            .f.desc
              %input{:type=>'text', :name=>'http_api[http_api_params_attributes][][desc]', :value=>http_api_param.desc}

            .f.ops
              %a.delete{:href=>'javascript:;'} 减少一项
            
      %a.add-new-item{:href=>'javascript:;'} 增加一项


    .field.logic.need
      %label 逻辑描述
      = f.text_area :logic
      
    .field.submit
      = jfsubmit '保存'
      = jfcancel '取消'