- hbreadcrumb '首页', '/'
- hbreadcrumb 'Http API'

.page-http-apis
  .nav
    %a.create{:href=>'/http_apis/new'} 创建新API

  .list
    - @http_apis.each do |http_api|
      .http-api
        .title= link_to http_api.title, "/http_apis/#{http_api.id}"
        .ops
          - if http_api.creator = current_user
            = link_to '修改', "/http_apis/#{http_api.id}/edit"
            = jdelete '删除', "/http_apis/#{http_api.id}", '确认删除?'


.page-paginate= will_paginate @http_apis

