- hbreadcrumb '首页', '/'
- hbreadcrumb 'Http API', '/http_apis'
- hbreadcrumb '新建 API'

:ruby
  type_select = options_for_select [
    ['GET', HttpApi::RequestType::GET], 
    ['POST', HttpApi::RequestType::POST], 
    ['PUT', HttpApi::RequestType::PUT], 
    ['DELETE', HttpApi::RequestType::DELETE]
  ]

  response_select = options_for_select [
    ['TEXT', HttpApi::ResponseFormat::TEXT],
    ['XML', HttpApi::ResponseFormat::XML],
    ['JSON', HttpApi::ResponseFormat::JSON]
  ]


.page-http-api-form
  = flash_info
  = form_for HttpApi.new do |f|
    .field.title.need
      %label 标题
      = f.text_field :title
    
    .field.type
      %label 请求类型
      = f.select(:request_type, type_select)
      
    .field.url.need
      %label URL
      .url
        %span.dash /
        %span= f.text_field :url


    .field.items.need
      .item-head
        .f.name 参数名
        .f.need 是否必须
        .f.desc 参数注释
      .item-list
        .item
          .f.name
            %input{:type=>'text', :name=>'http_api[http_api_params_attributes][][name]'}
          .f.need
            %select{:name => 'http_api[http_api_params_attributes][][need]'}
              %option{:value => 1} 必须
              %option{:value => 0} 可选
          .f.desc
            %input{:type=>'text', :name=>'http_api[http_api_params_attributes][][desc]'}

          .f.ops
            %a.delete{:href=>'javascript:;'} 减少一项
            
      %a.add-new-item{:href=>'javascript:;'} 增加一项


    .field.type
      %label 返回类型
      = f.select(:response_format, response_select)

    .field.items.need
      .item-head
        .f.code 状态码
        .f.desc 状态描述
      .item-list
        .item
          .f.need
            %input{:type=>'text', :name=>'http_api[http_api_responses_attributes][][code]'}

          .f.desc
            %textarea{:name => 'http_api[http_api_responses_attributes][][content]'}

          .f.ops
            %a.delete{:href=>'javascript:;'} 减少一项

      %a.add-new-item{:href=>'javascript:;'} 增加一项


    .field.logic.need
      %label 逻辑描述
      = f.text_area :logic
      
    .field.submit
      = jfsubmit '保存'
      = jfcancel '取消'
