- hbreadcrumb '首页', '/'
- hbreadcrumb 'Http API', '/http_apis'
- hbreadcrumb @http_api.title


.page-http-api-show
  .ops
    %a.edit{:href=>url_for([:edit, @http_api])} 编辑修改

  .title= @http_api.title
  .request-type= @http_api.request_type
  .url
    %span.dash> /
    %span>= @http_api.url
  .params
    .t 参数列表
    - @http_api.http_api_params.each do |http_api_param|
      :ruby
        klass = http_api_param.need ? 'need' : ''

      .param{:class=>klass}
        .name= http_api_param.name
        .desc.quiet= http_api_param.desc


  .responses
    .t 返回值
    - @http_api.http_api_responses.each do |http_api_response|
  
      .param
        .name= http_api_response.code
        .desc.quiet= http_api_response.content

  .logic
    :ruby
      ct = html_escape(@http_api.logic).gsub(' ', '&nbsp;').gsub(/\n/, '<br />').html_safe

    .t 逻辑描述
    .ct= ct
