- hbreadcrumb '首页', '/'
- hbreadcrumb 'Http API', '/http_apis'
- hbreadcrumb @http_api.title


.page-http-api-show
  .title= @http_api.title
  .request-type= @http_api.request_type
  .url
    %span.dash> /
    %span>= @http_api.url
  .params
    .t 参数列表
    - @http_api.http_api_params.each do |http_api_param|
      :ruby
        klass = http_api_param.need ? 'need' : ''

      .param{:class=>klass}
        .name= http_api_param.name
        .desc.quiet= http_api_param.desc

  .logic
    .t 逻辑描述
    .ct= @http_api.logic
