- htitle @product.name

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"
- hbreadcrumb '最近活动', "/products/#{@product.id}/activities"

.page-activities
  - @activities.each do |activity|
    :ruby
      actor = activity.actor
      model = activity.act_model

    .activity
      .title
        %span.actor= user_link actor

        - case activity.action
          - when "CREATE_STORY"
            %span.act 创建了 
            %span.act_model= story_link model
            - content = truncate_u(model.how_to_demo, 30)

          - when "UPDATE_STORY"
            %span.act 修改了 
            %span.act_model= story_link model
            - content = truncate_u(model.how_to_demo, 30)

          - when "CREATE_ISSUE"
            %span.act 创建了 
            %span.act_model= issue_link model
            - content = truncate_u(model.content, 30)

          - when "CREATE_WIKIPAGE"
            %span.act 创建了 
            %span.act_model= wiki_page_link model
            - content = truncate_u(model.content, 30)

          - when "UPDATE_WIKIPAGE"
            %span.act 修改了
            %span.act_model= wiki_page_link model
            - content = truncate_u(model.content, 30)

        %span.act 于
        %span.time= jtime activity.created_at

      .detail
        .avatar= avatar actor, :tiny
        .content= content


  .page-will-paginate= will_paginate @activities