- htitle @product.name

- hbreadcrumb '首页', '/'
- hbreadcrumb @product.name, "/products/#{@product.id}"

- content_for :topbar do
  = jsearchbar "/products/#{@product.id}/stories_search"

- # css at _stories.scss
.page-product-stories{:style=>'opacity:0;'}
  :ruby
    product = @product
    name = product.name
    description = product.description
    cover_url = product.cover.url

    new_story_url  = "/products/#{product.id}/stories/new"
    new_stream_url = "/products/#{product.id}/streams/new"
    activities_url = "/products/#{product.id}/activities"
    issues_url = "/products/#{product.id}/issues"
    wiki_url = "/products/#{product.id}/wiki"
    new_github_project_url = "/products/#{product.id}/github_projects/new"
    github_projects_url = "/products/#{product.id}/github_projects"

  .product-headbar
    = jimage cover_url, :alt=>name, :class=>'cover'
    .desc= description
    .ops
      %a.view.activities.hide{:href=>activities_url} 查看最近动态
      %a.view.issues{:href=>issues_url} 查看BUG或建议
      %a.view.issues{:href=>wiki_url} 查看WIKI
      %a.view.milestone{:href=>"/products/#{product.id}/milestones"} 里程碑
      %a.add-issue{:href=>"/products/#{product.id}/issues/new"} 创建BUG或建议
      - if admin_logged_in?
        %a.add-story.admin{:href=>new_github_project_url} 增加 github 工程
        %a.add-story.admin{:href=>github_projects_url} 查看 github 工程
        %a.add-story.admin{:href=>new_story_url} 创建故事
        %a.add-stream.admin{:href=>new_stream_url} 创建序列
      

  - product.streams.each do |stream|
    :ruby
      title = truncate_u stream.title, 15
      stories = stream.stories        
    .stream
      .title= title
      .stories
        - stories.each do |story|
          :ruby
            klass = story.status.downcase
            story_url = "/stories/#{story.id}"
          
          .story{:class=>klass}
            %a.story-id{:href=>story_url} ##{story.id}