.page-title Stories


.page-wiki-search-results

  - @my_drafts.each do |draft|
    :ruby
      drafted_hash = draft.drafted_hash
      drafted_hash = Marshal.load(drafted_hash)
 

    .wiki-page
      - if draft.model_id.blank?
        - case draft.model_type
          - when "Story"
            .ct=link_to drafted_hash[:how_to_demo], "/products/#{drafted_hash[:product_id]}/stories/new?temp_id=#{draft.temp_id}"
            .ct=drafted_hash[:tips]
          - when "WikiPage"
            .ct=link_to drafted_hash[:title], "/products/#{drafted_hash[:product_id]}/wiki_new?temp_id=#{draft.temp_id}"
      - else
        - case draft.model_type
          - when "Story"
            .ct=link_to drafted_hash[:how_to_demo], "/stories/#{draft.model_id}/edit?story_id=#{draft.model_id}"
            .ct=drafted_hash[:tips]
          - when "WikiPage"
            .ct=link_to drafted_hash[:title], "/products/#{drafted_hash[:product_id]}/wiki/#{drafted_hash[:title]}/edit"

  .paginate=will_paginate @my_drafts