- htitle '我的草稿'

- hbreadcrumb '首页', '/'
- hbreadcrumb '我的草稿', '/drafts'

= flash_info

.page-drafts
  .count 总共 #{current_user.drafts.count} 条草稿

  - @drafts.each do |draft|
    :ruby
      hash = Marshal.load draft.drafted_hash

    .draft
      - case draft.model_type
        - when 'Story'
          .type Story
          .text= hash[:how_to_demo]
        - when 'WikiPage'
          .type WikiPage
          .text= hash[:title]
      .open=link_to '打开草稿', "/drafts/#{draft.id}"

  .paginate=will_paginate @my_drafts