:ruby
  home_url            = "/products/#{product.id}"
  members_url         = "/products/#{product.id}/members"
  issues_url          = "/products/#{product.id}/issues"
  lemma_url           = "/products/#{product.id}/lemmas"
  wiki_url            = "/products/#{product.id}/wiki"

  product_stories_count    = product.stories.count
  product_streams_count    = product.streams.count
  product_members_count    = product.members.count
  product_issues_count     = product.issues.count
  product_lemma_count      = product.lemmas.count
  product_wiki_pages_count = product.wiki_pages.count

.page-product-nav
  %a.item{:href=>home_url, :class=> current == :stories_board ? 'current':''}
    .t 故事白板
    .c=product_stories_count
  %a.item{:href=>members_url, :class=> current == :members ? 'current':''}
    .t 参与成员
    .c=product_members_count
  %a.item{:href=>issues_url, :class=> current == :issues ? 'current':''}
    .t BUG，建议及改进
    .c=product_issues_count
  %a.item{:href=>lemma_url, :class=> current == :lemmas ? 'current':''}
    .t 常用词
    .c=product_lemma_count
  %a.item{:href=>wiki_url, :class=> current == :wiki ? 'current':''}
    .t wiki
    .c=product_wiki_pages_count