-# MINDPIN 工程原型Layout

:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'MINDPIN TEAM AGILE PLAYGROUND' : "#{tstr} - MINDPIN TEAM AGILE PLAYGROUND"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = yield :css
    = yield :head

  %body.echo.gray
    .page-container
      .page-sider

        .head
          .title
            %a{:href=>'/'} MINDPIN TEAM AGILE PLAYGROUND 
            .version build0607-2
          .user
            -if logged_in?
              .current-user-avatar=avatar current_user,:medium
              .current-user 欢迎你，#{current_user.name}
              .logout=link_to '登出', '/logout'
            -else
              .login=link_to '我要登录啊', '/login'
            -if admin_logged_in?
              .to-admin=link_to '管理员界面', '/admin'
              
        .page-nav
          %a.item{:class=>nav_current_klass(:products), :href=>'/'} 我们的产品
          %a.item{:class=>nav_current_klass(:members), :href=>'/members'} 成员和分享者
          -if logged_in?
            %a.item{:class=>nav_current_klass(:mine), :href=>'/mine'} 我的任务
          
        .hide.page-to
          .p=link_to '全部产品','/'
          .p=link_to '我的工作','/stories/mine'

        .hide.page-ops
          =link_to "新建产品",'/products/new'

      .page-content
        = yield

    = javascript_include_tag 'application'
    = yield :javascript