:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'MINDPIN TEAM AGILE PLAYGROUND' : "#{tstr} - MINDPIN TEAM AGILE PLAYGROUND"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = yield :css
    = yield :head

  %body.echo.gray
    .page-sider
      .head
        .title
          %a{:href=>'/'} MINDPIN. AGILE 
          .version build.0721

        -if logged_in?
          .welcome 你好，#{user_link current_user}

          .current-user-info
            .avatar= avatar current_user, :medium
            .my-tasks= link_to '我的任务', '/stories/mine'
            .my-drafts= link_to '我的草稿', '/drafts'
            
      .nav
        %a.item{:href=>'/'} 我们的产品
        %a.item{:href=>'/users'} 成员和分享者

      -if logged_in?
        .add-agile-issue
          %a.open-dialog{:href=>'javascript:;'} 给Agile提BUG和建议
          = render 'aj/inline_new_dialog'
        
      .hide.page-to
        .p=link_to '全部产品','/'

      .hide.page-ops
        =link_to "新建产品",'/products/new'

    .page-topbar
      .page-breadcrumb
        = yield :breadcrumb

      = yield :topbar
      
      .ops
        -if admin_logged_in?
          .admin= link_to '用户管理', '/admin'

        -if logged_in?
          .logout= link_to '退出登录', '/logout'

    .page-content
      = yield

    -if logged_in?
      :javascript
        window.USER_INFO = {
          id : #{current_user.id},
          name : #{current_user.name.to_json},
          email : #{current_user.email.to_json},
          channels : {
            comment : #{current_user.comment_tip_message.hash_name.to_json},
            atme : #{current_user.atme_tip_message.hash_name.to_json}
          },
          paths : {
            comment : #{current_user.comment_tip_message.path.to_json},
            atme : #{current_user.atme_tip_message.path.to_json}
          }
        }

    = javascript_include_tag "http://#{request.host}/juggernaut/application.js"
    = javascript_include_tag 'application'
    = yield :javascript