-# MINDPIN 工程原型Layout

:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'MINDPIN TEAM AGILE PLAYGROUND' : "#{tstr} - MINDPIN TEAM AGILE PLAYGROUND"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = yield :css
    = yield :head

  %body.echo.gray
    .page-container
      .page-sider

        .head
          .title
            %a{:href=>'/'} MINDPIN TEAM AGILE PLAYGROUND
          .user
            -if logged_in?
              .current-user 欢迎你，#{current_user.name}
              .current-user-avatar=avatar current_user,:tiny
              .logout=link_to '登出', '/logout'
            -else
              .login=link_to '我要登录啊', '/login'
          
        .hide.page-to
          .p=link_to '全部产品','/'
          .p=link_to '我的工作','/stories/mine'

        .hide.page-ops
          =link_to "新建产品",'/products/new'

      .page-content
        = yield

    = javascript_include_tag 'application'
    = yield :javascript