- htitle '创建里程碑'

- hbreadcrumb '首页', '/'
- hbreadcrumb '创建案例', "/milestones/#{params[:id]}/usecases/new"

.page-new-milestone
  :ruby
    usecase_id = params[:parent_id] || 0

  = form_for Usecase.new, :url => {:action => 'create'} do |f|
    = flash_info
    .field.need
      %label 用例描述
      = f.text_field :content
      = f.hidden_field :usecase_id, :value => usecase_id

    .field.submit
      = jfsubmit '添加'
      = jfcancel '取消'
